<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soutosss.marvelpoc.data.room_source">

    <application>
        <provider
            android:name=".koin.DataRoomInitializer"
            android:authorities="${applicationId}.data"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
